
body{
    background-image: url("../img/glass-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-image: url("../img/header-background.jpg");
        color:white;
        font-family: 'Bungee', cursive;
        font-size: 26px;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

/* Solid Header */
.navbar-default{
    background-image: url("../img/header-background.jpg");
    /*opacity: 0.7; filter: alpha(opacity=70);*/
}

/* Hover Elements of Header */
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:white;
    background-color: rgba(0,0,0,0.5);
}

#dashay-button, #dashay-dropdown{
    background-color:rgba(255,255,255,0.7);
    color:black;
    border:solid 1px black;
    text-align:center;
    border-radius: 5px;
    cursor:default;
}


#reportrange, #reportrange2, #reportrange3{
    background: #fff;
    cursor: pointer;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 34px;
    width:100%;
}

.thumbnail:hover{
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.thumbnail a{
    text-decoration: none;
}


.thumbnail h4{
    text-align: center;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    background-color: white;
}

.thumbnail .caption{
    padding:5px;
}

.options-heading{
    font-weight: bold;
}
.im-centered{
    margin:auto;
    width:70%;
}
.list-group-item{
    padding:10px;
    font-size:14px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color:#4c7a34;

}

            .segmented-control input[type="radio"], .segmented-report-type input[type="radio"]{
                display: none;
            }

            .segmented-control .list-group-item, .segmented-report-type .list-group-item{
                display: inline-block;
            }
            .segmented-control .list-group-item, .segmented-report-type .list-group-item{
                margin-bottom: 0;
                margin-left:-4px;
                margin-right: 0;
            }
            .segmented-control .list-group-item:first-child, .segmented-report-type .list-group-item:first-child{
                border-top-right-radius:0;
                border-bottom-left-radius:4px;
            }
            .segmented-control .list-group-item:last-child, .segmented-report-type .list-group-item:last-child{
                border-top-right-radius:4px;
                border-bottom-left-radius:0;
            }


            .segmented-email input[type="radio"], .segmented-report-type input[type="radio"]{
                display: none;
            }

            .segmented-email .list-group-item, .segmented-report-type .list-group-item{
                display: inline-block;
            }
            .segmented-email .list-group-item, .segmented-report-type .list-group-item{
                margin-bottom: 0;
                margin-left:-4px;
                margin-right: 0;
            }
            .segmented-email .list-group-item:first-child, .segmented-report-type .list-group-item:first-child{
                border-top-right-radius:0;
                border-bottom-left-radius:4px;
            }
            .segmented-email .list-group-item:last-child, .segmented-report-type .list-group-item:last-child{
                border-top-right-radius:4px;
                border-bottom-left-radius:0;
            }

.style2{
    border-top: 3px double #8c8b8b;
}
