body{
	font-family: 'Gudea', cursive;
	font-size: 15px;
}

legend{
	border-bottom:2px solid #ddd !important;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu{
	top:0px !important;
	bottom:0px !important;
}

/*** add-AY container == modal only ***/

/****** ADD AY MODAL ******/
.addaymodal-container {
  padding: 30px;
  max-width: 450px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.3);
  /*overflow: hidden;*/
  background-color: #fff;
}

.addaymodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.addaymodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.addaymodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  /*margin-bottom: 10px;*/
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.addaymodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


.addaymodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.addaymodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.addaymodal-container a {
  text-decoration: none;
  /*color: #666;*/
  font-weight: 400;
  display: inline-block;
  transition: opacity ease 0.5s;
} 

span{
  font-weight:normal;
  font-size:14px;
}

td{
  font-size:14px;
}

input{
  font-weight:normal;
}