body{
    background-image: url("../img/glass-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: rgb(21,70,10);
        color:white;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.im-centered-body { margin: auto; width:100%;}

.im-centered { margin: auto; width:60%;}

.box-inner{
    border: 2px solid #bfc6bd;
    background-color: white;
}

.innerbox{
    height:150px;
    border:solid 1px black;
}

.searchresults-box{
    padding-right: 0px;
    padding-left:0px;
    
}


#title-header{
    font-weight: bold;
    font-size: 17px;
}

.label{
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-top: 10px;
}

#facultyname{
    font-weight: bold;
    float: right;
    margin-top: 10px;
    margin-right: 800px;
}

#department, #kind{
    margin-left: 160px;
}

#facultylabel{
    margin-top: 10px;
}

#idlabel{
    float: right;
    margin-top: 10px;
    margin-right: -500px;
}

#facultyid{
    float: right;
    margin-top: 10px;
    margin-right: -800px;
    font-weight: bold;
}

#class-choose{
    margin-left: 20px;
}

#dailydate{
    margin-left: 20px;
}

.selectpicker{
    margin-left: 20px;
}

input[type=text]{
  height: 34px !important;
}


/***PAGINATION***/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}

/***************************************/

.page{
    border-radius: 0px !important;
    background-color: #fff !important;
    color: #449d44 !important;
    border-color: #398439 !important;
}

.page:hover{
    border-radius: 0px !important;
    color: black;
}

table, table tr, table tr td {
    margin: 0; padding: 0; border: 0; cursor: pointer;
}
table tr.active td {
    background: white !important;
    box-shadow: 5px 5px 5px #888888;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

#filter-form{
    margin-bottom:0px;
}

#reportrange{
    background: #fff;
    cursor: pointer;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 34px;
    width:100%;
    margin-left:10px;
}

