body{
    background-image: url("../img/glass-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: rgb(21,70,10);
        color:white;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.im-centered-body { margin: auto; width:100%;}

.im-centered { margin: auto; width:60%;}

.box-inner{
    border: 2px solid #bfc6bd;
    background-color: white;
}

.innerbox{
    height:150px;
    border:solid 1px black;
}

.searchresults-box{
    padding-right: 0px;
    padding-left:0px;
    
}


#title-header{
    font-weight: bold;
    font-size: 17px;
}

.label{
    font-size: 14px;
    color: black;
    font-weight: normal;
    margin-top: 10px;
}

#facultyname{
    font-weight: bold;
    float: right;
    margin-top: 10px;
    margin-right: 800px;
}

#department, #kind{
    margin-left: 160px;
}

#facultylabel{
    margin-top: 10px;
}

#idlabel{
    float: right;
    margin-top: 10px;
    margin-right: -500px;
}

#facultyid{
    float: right;
    margin-top: 10px;
    margin-right: -800px;
    font-weight: bold;
}

#class-choose{
    margin-left: 20px;
}

#dailydate{
    margin-left: 20px;
}

.selectpicker{
    margin-left: 20px;
}

input[type=text]{
  height: 34px !important;
}


/***PAGINATION***/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align: center;}

/*****CLICKING TABLE********/

table, table tr, table tr td {
    margin: 0; padding: 0; border: 0; cursor: pointer;
}
table tr.active td {
    background: white !important;
    box-shadow: 5px 5px 5px #888888;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

#filter-form{
    margin-bottom:0px;
}

#reportrange{
    background: #fff;
    cursor: pointer;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 34px;
    width:100%;
    margin-left:10px;
}

/*****PAGINATION*****/

.w3-pagination{
    line-height: 1.2 !important;
    display:inline-block;
    padding:0;
    margin:0;
    font-weight: 200;
    border-radius: 4px;
}
.w3-pagination li{
    display:inline
}
.w3-pagination li a{
    text-decoration:none;color:#000;float:left;padding:8px 16px
}
.w3-pagination li a:hover{
    background-color:#ccc
}

.w3-border-0{
    border:0!important
}
.w3-border{
    border:1px solid #ccc!important
}
.w3-border-top{
    border-top:1px solid #ccc!important
}
.w3-border-bottom{
    border-bottom:1px solid #ccc!important
}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}

.w3-margin-left{margin-left:16px!important}

.w3-border-right{border-right:1px solid #ccc!important}

/**************************/
.makeupmodal-container{
    padding: 20px;
    max-width: 800px !important;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.3);
    /* overflow: hidden; */
    background-color: #fff;
}

#makeup-container input[type=text] {
    height: 34px;
    width: 120px;
    /* margin-top: 10px; */
    font-size: 14px;
}

#makeup-container label{
    font-size: 14px;
}

.form-control{
    width: 120px;
}

div.dropdown-menu {
        max-width: 180px !important;
}

#pagelabel{
    font-weight:bold;
    display:inline-block;
    position:relative;
    top:-10px;
}

input[readonly].form-control{
    background-color:#eee;
    opacity:1;
}